.navbar {
  background: linear-gradient(
    90deg,
    rgba(190, 52, 32, 1) 0%,
    rgba(231, 75, 77, 1) 48%,
    rgba(231, 148, 74, 1) 100%
  );
  padding: 14px;
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.header {
  flex-basis: 50%;
  display: flex;
}
.loginLogoutContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 50%;
}
.button {
  color: white;
  cursor: pointer;
  padding: 12px;
}
.button:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}
